body {
  margin: 0;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d330d;
  background-image: linear-gradient(45deg, #0f3d0f 25%, transparent 25%), 
                    linear-gradient(-45deg, #0f3d0f 25%, transparent 25%), 
                    linear-gradient(45deg, transparent 75%, #0f3d0f 75%), 
                    linear-gradient(-45deg, transparent 75%, #0f3d0f 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 30px solid #043F24;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  padding: 5px;
}

.border-2 {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  background-image: url(./snake-image.png);
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  z-index: 10000000;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  background-color: #135537;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.game-board-active .snake {
  grid-column: 10;
  grid-row: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-board-active .snake::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #2FA12F 0%,
    #165f20 50%,
    #2FA12F 100%
  );
  border-radius: 10px;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}

.game-board-active .snake:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #2FA12F 40%, #165f20 90%);
  border-radius: 50%;
  top: 0;
  left: 0;
  box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}

.game-board-active .snake:first-child:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, #2FA12F 40%, #165f20 90%);
  border-radius: 50%;
}